/* styles.css*/

table {
	border-collapse: collapse; 
	width: 100%; 
	table-layout:fixed;  
	text-align:center;
	margin-top:10px;
	
}
table tr:nth-child(even){
	background-color: #f2f2f2;
}
table tr:hover {
	background-color: #ddd;
}
table, th, td {
	border: 1px solid #ddd; 
	padding: 6px; 
	word-wrap: break-word;
}
th {
	background-color: #248f8f;
	color: white; 
	font-size: 16px; 
	height:65;
}
img { 
	height:50px; 
	width: 50px; 
	border-radius: 25px;
}
 p {
	line-height:2;
	margin: 0; 
} 
div {
	text-align:left;
}
	
div.legends {
	padding-left: 5px;
 	font-size: 15px;
  	line-height:1;
  	width:670px; height:180px;
 	border:1px solid #aaa;
	margin-top: 10px; 
	margin-bottom: 10px;	
}

.photo{
	height:50px; 
	width: 80px; 
	style="vertical-align:top"; 
	border-radius: 6px; 
}
.alignLeft {
	text-align:left;
}       
.w40 {
	width:40px;
} 
.w80 {
	width:70px;
} 
.w100 
{
	width:100px;
} 
.w120 {
	width:120px;
} 
.w200 {
	width:200px;
}
.w210 {
	width:210px;
}
.w240 {
	width:240px;
}

.hdr_text {
	float:left; 
	vertical-align:top 
	display:table-cell; 
	height:100%;
}
.hdr_arrows {
	float:right; 
	position:relative; 
	right:1px; 
	top:32px; 
	font-size:60%;
}
.box {
    /*]float: left;*/
	display: inline-block;
    width: 110px;
    height: 24px;
	margin-right: 10px;	
 	padding-left: 4px; 
  }

.reciprocal {
    background: lightgreen;
}

.not_following {
    background: lightskyblue;
}

.not_follower {
    background: lightpink;
}
.transparent_white {
    background: white;
}
